<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title><TMPL_VAR NAME=TITLE></title>
        <script type="text/javascript" src="../scripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../scripts/History.js"></script>
        <script type="text/javascript" src="../scripts/office-devices.js"></script>
        <script type="text/javascript" src="../scripts/binded_onload.js"></script>
        <script type="text/javascript" src="../scripts/requestGen.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    </head>
    <body>
        <div id="main" class="main-container">
            <div class="navbar">
                <div class="pull-left menu">
                    <a href="#computers"><input type="button" class="btn" formtype="new" form="computers" value="<TMPL_VAR NAME=COMPUTERS>"></a>
                    <a href="#computer-parts"><input type="button" class="btn" formtype="new" form="hardware_parts" value="<TMPL_VAR NAME=COMPUTER_PARTS>"></a>
                    <a href="#networks"><input type="button" class="btn" formtype="new" form="networks" value="<TMPL_VAR NAME=NETWORKS>"></a>
                    <a href="#network-devices"><input type="button" class="btn" formtype="new" form="network_devices" value="<TMPL_VAR NAME=NETWORK_DEVICES>"></a>
                    <a href="#models"><input type="button" class="btn" formtype="new" form="models" value="<TMPL_VAR NAME=MODELS>"></a>
                    <a href="#types"><input type="button" class="btn" formtype="new" form="types" value="<TMPL_VAR NAME=TYPES>"></a>
                </div>
                <div class="pull-right language-select">
                        <img src="../images/en.png" class="language-icon <TMPL_VAR NAME=ACTIVEEN>" language="en">
                        <img src="../images/bg.png" class="language-icon <TMPL_VAR NAME=ACTIVEBG>" language="bg">
                </div>
                <div class="log-out-form pull-right">
                    <input class="logout-btn btn" type ="button" style="height: 20px; padding-top: 0px;"value="<TMPL_VAR NAME=LOGOUT>">
                </div>
                <div class="user pull-right"><TMPL_VAR NAME=MSG> <b><TMPL_VAR NAME=USERNAME></b></div>
            </div>
            <div id="form-container" class="form-container forms"><img class="index-image" src="../images/index.png"></div>
            <div id="state"></div>
            <input type="button" id="test-image-btn" value="TEST ME">
    </body>
</html>
