<div class="submit-btns">
    <input type="button" value="<TMPL_VAR ESCAPE=HTML NAME="SAVECHANGES">" style="margin-right: 5px;" class="pull-left btn submit-edit-btn">
    <input type="button" value="<TMPL_VAR ESCAPE=HTML NAME="DELETE">" style="margin-right: 5px;" class="pull-left btn submit-delete-btn">
    <input type="button" value="<TMPL_VAR ESCAPE=HTML NAME="CANCEL">" formtype="new" form="<TMPL_VAR ESCAPE=HTML NAME="GENERATE">" class="btn submit-cancel-btn">
</div>