<div id="<TMPL_VAR NAME=ID>-container" class="<TMPL_VAR NAME=TYPE>-container form-input-container">
	<label for="<TMPL_VAR NAME=NAME>"><TMPL_VAR NAME=LABEL></label>
	<input type="<TMPL_VAR NAME=TYPE>" id="<TMPL_VAR NAME=ID>" class="<TMPL_VAR NAME=CLASS>" value="<TMPL_VAR NAME=VALUE>" name="<TMPL_VAR NAME=NAME>" <TMPL_VAR ESCAPE=HTML NAME="REQUIRED"> <TMPL_VAR ESCAPE=HTML NAME="MULTIPLE"> >
</div>